@import '../../styles/_buttonStyleForm-y.scss';
@import '../../styles/_borderRadiusInput.scss';
@import '../../styles/_footer.scss';
@import '../../styles/_inputStyle.scss';

div.form-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% auto;
}
